<%= javascript_include_tag "jquery-2.1.1.min.js" %>
<%= javascript_include_tag "jquery-ui.min.js" %>
<%= stylesheet_link_tag "excersise_do.css" %>

<script>

var excersiseOrder = <%= @excersise_order.to_json %>;

var currentExcersise = 0;

$(document).ready( function() {
		var currentExcersise = excersiseOrder.shift();
	});

function next()
{
	var next = excersiseOrder.shift();
	
	// Dont need to do anything if the excersise hasnt changed
	var children = $("#excersises").children();
 
	if( next < currentExcersise )
	{

		if( next != currentExcersise ) $(children[(children.length-1) - next]).animate({height: "toggle"});

		var child =  $(children[(children.length-1) - currentExcersise]);
		var reps_left = parseInt(document.getElementById("excersise_sets_" + child.attr('id')).innerText.split(":")[1]);
		document.getElementById("excersise_sets_" + child.attr('id')).innerHTML = "<span></span>Sets Left: " + (reps_left-1);
	}
	else
	{
		if( next != currentExcersise )  $(children[(children.length-1) - currentExcersise]).animate({height: "toggle"});

		var child = $(children[(children.length-1) - currentExcersise]);
		var reps_left = parseInt(document.getElementById("excersise_sets_" + child.attr('id')).innerText.split(":")[1]);
		document.getElementById("excersise_sets_" + child.attr('id')).innerHTML = "<span></span>Sets Left: " + (reps_left-1);

	}

	currentExcersise = next;
}
 

</script>

<div id="excersises">
	<% @excersises.reverse.each do |excersise| %>
		<a id="<%= excersise.id %>" class="excersise_container">
			<div id="excersise_<%= excersise.id %>" class="excersise">
				<div id="excersise_name_<%= excersise.id %>" class="excersise_name">
					<span></span><%= excersise.name %>
				</div>
				
				<div id="excersise_sets_<%= excersise.id %>" class="excersise_sets">
					<span></span>Sets Left: <%= excersise.sets %>
				</div>

				<div id="excersise_reps_<%= excersise.id %>" class="excersise_reps">
					<span></span>Reps: <%= excersise.reps %>
				</div>
				
				<div id="excersise_encouragement_<%= excersise.id %>" class="excersise_encouragement">
					<span></span><%= @encouragements[rand(@encouragements.size)] %>
				</div>
			</div>
		</a>
	<% end %>	
</div>

<div id="controll_bar">
	<div id="next" onclick="next()">
		NEXT!
	</div>
</div>
