<%= javascript_include_tag "jquery-2.1.1.min.js" %>
<%= javascript_include_tag "jquery-ui.min.js" %>
<%= stylesheet_link_tag "excersise_do.css" %>

<script>

var excersiseOrder = <%= @excersise_order.to_json %>;
var excersiseGroupOrder = <%= @excersise_group_order.reverse.to_json %>
var largest_group = <%= @largest_group %>

var current_excersise = 0;
var max_range = 0;

$(document).ready( function() {

		current_excersise = excersiseOrder.shift();

		// Make sure the color range is split over enough
		// of a range to give a smmoth color change
		max_range = largest_group;
		if( max_range < 10 ) max_range = 10;

		var index = 0;
		$("#excersises").children().each(function() {

				var rgb = HSBtoRGB(excersiseGroupOrder[index] * (100.0 / max_range), 0.68, 0.66);
				$(this).animate({backgroundColor: "rgb(" + parseInt(rgb[0]) + ", " + parseInt(rgb[1]) + ", " + parseInt(rgb[2]) + ")"});

				if( index == excersiseGroupOrder.length - 1 ) 
				{
					rgb = HSBtoRGB(excersiseGroupOrder[index] * (100.0 / max_range), 0.68, 0.7);
					$("#current_group_details").animate({backgroundColor: "rgb(" + parseInt(rgb[0]) + ", " + parseInt(rgb[1]) + ", " + parseInt(rgb[2]) + ")"});
					rgb = HSBtoRGB(excersiseGroupOrder[index] * (100.0 / max_range), 0.68, 0.72);
					$("#controll_bar").animate({backgroundColor: "rgb(" + parseInt(rgb[0]) + ", " + parseInt(rgb[1]) + ", " + parseInt(rgb[2]) + ")"});
				}

				index += 1;
				});			

		});

function next()
{
	// If there are no more excersises to do
	if( excersiseOrder.length == 0 )
	{
		document.getElementById("excersises").innerHTML = "Finished!";
		return;
	}

	var next = excersiseOrder.shift();

	// Dont need to do anything if the excersise hasnt changed
	var children = $("#excersises").children();
 
	if( next < current_excersise )
	{

		if( next != current_excersise ) 
		{
			$(children[(children.length-1) - next]).animate({height: "toggle"});

			var rgb = HSBtoRGB(excersiseGroupOrder[(children.length-1) - next] * (100.0 / max_range), 0.68, 0.72);
			$("#controll_bar").animate({backgroundColor: "rgb(" + parseInt(rgb[0]) + ", " + parseInt(rgb[1]) + ", " + parseInt(rgb[2]) + ")"});
		}

		var child =  $(children[(children.length-1) - current_excersise]);
		var reps_left = parseInt(document.getElementById("excersise_sets_" + child.attr('id')).innerText.split(":")[1]);
		document.getElementById("excersise_sets_" + child.attr('id')).innerHTML = "<span></span>Sets Left: " + (reps_left-1);
	}
	else
	{
		if( next != current_excersise )  
		{
			$(children[(children.length-1) - current_excersise]).animate({height: "toggle"});

			var rgb = HSBtoRGB(excersiseGroupOrder[(children.length-1) - next] * (100.0 / max_range), 0.68, 0.72);
			$("#controll_bar").animate({backgroundColor: "rgb(" + parseInt(rgb[0]) + ", " + parseInt(rgb[1]) + ", " + parseInt(rgb[2]) + ")"});

			if( excersiseGroupOrder[(children.length-1) - next] != excersiseGroupOrder[(children.length-1) - current_excersise] )
			{

				rgb = HSBtoRGB(excersiseGroupOrder[(children.length-1) - next] * (100.0 / max_range), 0.68, 0.7);
				$("#current_group_details").animate({backgroundColor: "rgb(" + parseInt(rgb[0]) + ", " + parseInt(rgb[1]) + ", " + parseInt(rgb[2]) + ")"});

				update_current_group_bar(excersiseGroupOrder[(children.length-1)-next]);
			}
		}

		var child = $(children[(children.length-1) - current_excersise]);
		var reps_left = parseInt(document.getElementById("excersise_sets_" + child.attr('id')).innerText.split(":")[1]);
		document.getElementById("excersise_sets_" + child.attr('id')).innerHTML = "<span></span>Sets Left: " + (reps_left-1);

	}

	current_excersise = next;
}

function update_current_group_bar(group)
{
	var i = 0;
	document.getElementById("current_group_details").innerHTML = "";
	$("#excersises").children('a').each( function() {
			
			if( excersiseGroupOrder[i] == group )
			{
				var id = $(this).attr('id');	

				var excersise_detail = document.createElement("div");
				excersise_detail.id = ("excersise_detail_" + id);
				excersise_detail.className = "excersise_detail";
				
				excersise_detail.innerHTML += ("<h3>" + document.getElementById("excersise_name_" + id).innerText + "</h3");
				excersise_detail.innerHTML += "</ br>"
				excersise_detail.innerHTML +=  document.getElementById("excersise_diffculty_" + id).innerText;

				//var nameTag = document.createElement("h3");
				//nameTag.innerText = document.getElementById("excersise_name_" + id).innerText;

				//excersise_detail.appendChild(nameTag);

				//excersise_detail.appendChild(document.createElement('br'));

				//excersise_detail.innerText += document.getElementById("excersise_diffculty_" + id).innerText;

				document.getElementById("current_group_details").appendChild(excersise_detail);

				i += 1;
			}

			});
}

function HSBtoRGB(h, s, l)
{
	var C = (1 - Math.abs(2 * l - 1)) * s;
	var Hp = h/60.0;
	var x = C * ( 1 - Math.abs(Hp%2 - 1));

	var r;
	var g;
	var b;

	if( Hp >= 0 && Hp < 1 )
	{
		r = C;
		g = x;
		b = 0;
	}
	else if( Hp >= 1 && Hp < 2 )
	{
		r = x;
		g = C;
		b = 0;
	}
	else if( Hp >= 2 && Hp < 3 )
	{
		r = 0;
		g = C;
		b = x;
	}
	else if( Hp >= 3 && Hp < 4 )
	{
		r = 0;
		g = x;
		b = C;
	}
	else if( Hp >= 4 && Hp < 5 )
	{
		r = x;
		g = 0;
		b = C;
	}	
	else if( Hp >= 5 && Hp < 6 )
	{
		r = C;
		g = 0;
		b = x;
	}

	m = l - (1/2.0) * C;

	return [255 * (r+m), 255 * (g+m), 255 * (b+m)];
}

</script>

<div id="container">
<div id="excersises">
	<% @excersises.reverse.each do |excersise| %>
		<a id="<%= excersise.id %>" class="excersise_container">
			<div id="excersise_<%= excersise.id %>" class="excersise">
				<div id="excersise_name_<%= excersise.id %>" class="excersise_name">
					<span></span><%= excersise.name %>
				</div>

				<div id="excersise_diffculty_<%= excersise.id %>" class="excersise_diffculty">
					<span></span><%= "#{excersise.diffculty} #{excersise.get_units}" %>
				</div>
				
				<div id="excersise_sets_<%= excersise.id %>" class="excersise_sets">
					<span></span>Sets Left: <%= excersise.sets %>
				</div>

				<div id="excersise_reps_<%= excersise.id %>" class="excersise_reps">
					<span></span>Reps: <%= excersise.reps %>
				</div>
				
				<div id="excersise_encouragement_<%= excersise.id %>" class="excersise_encouragement">
					<span></span><%= @encouragements[rand(@encouragements.size)] %>
				</div>
			</div>
		</a>
	<% end %>
</div>
</div>

<div id="current_group_details">
	<% @groups[@excersises[0].group].each do |excersise| %>
		<div id="excersise_detail_<%= excersise.id %>" class="excersise_detail">
			<h3><%=  excersise.name %></h3>
			</ br>
			<%= "#{excersise.diffculty} #{excersise.get_units}" %>
		</div>
	<% end %>	
</div>

<div id="controll_bar">
	<div id="next" onclick="next()">
		<span></span>NEXT!
	</div>
</div>
