<%= javascript_include_tag "jquery-2.1.1.min.js" %>
<%= javascript_include_tag "jquery-ui.min.js" %>
<%= stylesheet_link_tag "excersise_edit.css" %>

<script>

var workout_id = <%= @workout.id %>;
var current_group = <%= @workout.excersises.inject (0) { |memo, item| if item.group > memo then item.group; else memo; end } %>

function create_new_excersise()
{
	var xmlhttp;

	if( window.XMLHttpRequest )
	{
			xmlhttp = new XMLHttpRequest();
	}
	else
	{
		xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
	}

	xmlhttp.onreadystatechange = function()
	{
		if( xmlhttp.readyState == 4 && xmlhttp.status == 200 )
		{
			var id = xmlhttp.responseText.trim();

			// Create the span tag to align the text propperly
			var aligner = document.createElement('span');

			var excersises = document.getElementById("excersises");

			// Empty the div if there are 0 groups
			if( current_group == 0 ) excersises.innerHTML = "";

			// Increment the current group
			current_group += 1;

			var newA = document.createElement('a');
			newA.addEventListener("change", edit_excersise_event);
			newA.addEventListener("keyup", edit_excersise_event);
				
			var excersiseContainer = document.createElement('div');
			excersiseContainer.id = ("excersise_" + id);
			excersiseContainer.className = "excersise";

			var excersiseGroup = document.createElement('div');

			excersiseGroup.id = ("excersise_group_" + id);
			excersiseGroup.className = "excersise_group";
			excersiseGroup.innerText = current_group;
			excersiseGroup.contentEditable = 'true';

			// Create the span tag to align the text propperly
			var groupAligner = document.createElement('span');
			excersiseGroup.appendChild(groupAligner);

			excersiseContainer.appendChild(excersiseGroup);

			var excersiseName = document.createElement('div');
			excersiseName.id = ("excersise_name_" + id);
			excersiseName.className = "excersise_name";
			excersiseName.innerText = "Name";
			excersiseName.contentEditable = 'true';

			// Create the span tag to align the text propperly
			var nameAligner = document.createElement('span');

			excersiseName.appendChild(nameAligner);

			excersiseContainer.appendChild(excersiseName);

			var excersiseType = document.createElement('div');
			excersiseType.id = ("excersise_type_" + id);
			excersiseType.className = "excersise_type";

			var excersiseTypeSelect = document.createElement('select');
			excersiseTypeSelect.addEventListener("change", change_units_event);
			excersiseTypeSelect.id = ("excersise_type_select_" + id);
			excersiseTypeSelect.className = "excersise_type_select";

			var weightBasedOption = document.createElement('option');
			weightBasedOption.innerText = "Weight Based";
			excersiseTypeSelect.appendChild(weightBasedOption);

			var timeBasedOption = document.createElement('option');
			timeBasedOption.innerText = "Time Based";
			excersiseTypeSelect.appendChild(timeBasedOption);
			//excersiseType.innerText = "Type";
			//excersiseType.contentEditable = 'true';
			excersiseType.appendChild(excersiseTypeSelect);

			excersiseContainer.appendChild(excersiseType);

			var excersiseDiffculty = document.createElement('div');
			excersiseDiffculty.id = ("excersise_diffculty_" + id);
			excersiseDiffculty.className = "excersise_diffculty";

			var excersiseDiffcultyMagnitude = document.createElement('div');

			excersiseDiffcultyMagnitude.id = ("excersise_diffculty_magnitude_" + id);
			excersiseDiffcultyMagnitude.className = "excersise_diffculty_magnitude";
			excersiseDiffcultyMagnitude.innerText = "1.0";
			excersiseDiffcultyMagnitude.contentEditable = 'true';

			// Create the span tag to align the text propperly
			var magnitudeAligner = document.createElement('span');
			excersiseDiffcultyMagnitude.appendChild(magnitudeAligner);

			excersiseDiffculty.appendChild(excersiseDiffcultyMagnitude);

			var excersiseDiffcultyUnits = document.createElement('div');

			excersiseDiffcultyUnits.id = ("excersise_diffculty_units_" + id);
			excersiseDiffcultyUnits.class = "excersise_diffculty_units";
			excersiseDiffcultyUnits.innerText = "kg";

			// Create the span tag to align the text propperly
			var unitsAligner = document.createElement('span');
			excersiseDiffcultyUnits.appendChild(unitsAligner);

			excersiseDiffculty.appendChild(excersiseDiffcultyUnits);

			excersiseContainer.appendChild(excersiseDiffculty);

			var excersiseSets = document.createElement('div');

			excersiseSets.id = ("excersise_sets_" + id);
			excersiseSets.className = "excersise_sets";
			excersiseSets.innerText = "0";
			excersiseSets.contentEditable = 'true';

			// Create the span tag to align the text propperly
			var setsAligner = document.createElement('span');
			excersiseSets.appendChild(setsAligner);

			excersiseContainer.appendChild(excersiseSets);

			var excersiseReps = document.createElement('div');

			excersiseReps.id = ("excersise_reps_" + id);
			excersiseReps.className = "excersise_reps";
			excersiseReps.innerText = "0";
			excersiseReps.contentEditable = "true";

			// Create the span tag to align the text propperly
			var repsAligner = document.createElement('span');
			excersiseReps.appendChild(repsAligner);

			excersiseContainer.appendChild(excersiseReps);

			newA.appendChild(excersiseContainer);
			
			excersises.appendChild(newA);
		}
	}

	xmlhttp.open("GET", "/excersises/create?workoutid=" + workout_id + "&group=" + (current_group+1), true);
	xmlhttp.send();
}

function edit_excersise_event(event)
{
	var s = event.srcElement.id.split("_");
	var id = s[s.length-1];

	edit_excersise(parseInt(id));
}

function edit_excersise(id)
{
	document.getElementById("status_bar").innerText = "Not Saved";

	var group = document.getElementById("excersise_group_" + id).innerText;
	var name = document.getElementById("excersise_name_" + id).innerText;
	var type_select = document.getElementById("excersise_type_select_" + id);
	var type = 0;
	if( type_select[type_select.selectedIndex].value == "Weight Based" || type_select[type_select.selectedIndex].value == "Time Based")
	{
		type = type_select.selectedIndex + 1;	
	}
	var diffculty = document.getElementById("excersise_diffculty_magnitude_" + id).innerText;
	var sets = document.getElementById("excersise_sets_" + id).innerText;
	var reps = document.getElementById("excersise_reps_" + id).innerText;

	// AJAX For saving exversise
	var xmlhttp;

	if( window.XMLHttpRequest )
	{
		xmlhttp = new XMLHttpRequest();
	}
	else
	{
		xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
	}

	xmlhttp.onreadystatechange = function()
	{
		if( xmlhttp.readyState == 4 && xmlhttp.status == 200 )
		{
			document.getElementById("status_bar").innerText = "Changes Saved";
		}
	}


	xmlhttp.open("GET", "/excersises/update?id=" + id + "&group=" + group + "&name=" + name + "&type=" + type + "&diffculty=" + diffculty + "&sets=" + sets + "&reps=" + reps, true);
	xmlhttp.send();
}

function change_units_event(event)
{
	var s = event.srcElement.id.split("_");
	var id = s[s.length-1];

	change_units(parseInt(id));
}

function change_units(id)
{
	var type_select = document.getElementById("excersise_type_select_" + id);

	if( type_select[type_select.selectedIndex].value == "Weight Based" )
	{
		document.getElementById("excersise_diffculty_units_" + id).innerHTML = "<span></span>kg";
	}
	else if(type_select[type_select.selectedIndex].value == "Time Based")
	{
		document.getElementById("excersise_diffculty_units_" + id).innerHTML = "<span></span>sec";
	}
}

</script>

<h1>Editing Workout</h1>
</ br>

<h3>Name: <%= @workout.name %></h3>
</ br>

<div id="status_bar">
	Changes Saved
</div

</ br>
</ br>

<div id="excersises">
	<% if @excersises.size == 0 %>
		<p>There are currently no excersises in this workout</p>
	<% else %>
		<% @excersises.each do |excersise| %>
			<a onchange="edit_excersise(<%= excersise.id %>)" onkeyup="edit_excersise(<%= excersise.id %>)">
				<div id="excersise_<%= excersise.id %>" class="excersise">
					<div id="excersise_group_<%= excersise.id %>" class="excersise_group" contentEditable='true'>
						<span></span><%= excersise.group %>
					</div>

					<div id="excersise_name_<%= excersise.id %>" class="excersise_name" contentEditable='true'>
						<span></span><%= excersise.name %>
					</div>

					<div id="excersise_type_<%= excersise.id %>" class="excersise_type">
						<select id="excersise_type_select_<%= excersise.id %>" class="excersise_type_select" onchange="change_units(<%= excersise.id %>)">
							<option <%= if excersise.excersisetype == 1 then "selected='selected'"; end%>>Weight Based</option>
							<option <%= if excersise.excersisetype == 2 then "selected='selected'"; end%>>Time Based</option>
						</select>
					</div>

					<div id="excersise_diffculty_<%= excersise.id %>" class="excersise_diffculty">
						<div id="excersise_diffculty_magnitude_<%= excersise.id %>" class="excersise_diffculty_magnitude" contentEditable='true'>
							<span></span><%= excersise.diffculty %>
						</div>
						<div id="excersise_diffculty_units_<%= excersise.id %>" class="excersise_diffculty_units">
							<span></span><%= excersise.get_units %>
						</div>
					</div>

					<div id="excersise_sets_<%= excersise.id %>" class="excersise_sets" contentEditable='true'>
						<span></span><%= excersise.sets %>
					</div>

					<div id="excersise_reps_<%= excersise.id %>" class="excersise_reps" contentEditable='true'>
						<span></span><%= excersise.reps %>
					</div>

				</div>
			</a>
		<% end %>
	<% end %>
</div>

<button onclick="create_new_excersise()">Create New Excersise</button>
