<%= javascript_include_tag "jquery-2.1.1.min.js" %>
<%= javascript_include_tag "jquery-ui.min.js" %>
<%= stylesheet_link_tag "workout_new.css" %>
<%= stylesheet_link_tag "forms.css" %>

<script>

$( function () {
		$(document).tooltip();
		});

function verify_form()
{
	var str = $("#workout_name").val();

	// Verify that the string has appriate length and only contains letters, numbers
	// and white space
	if( str.length > 20 || str.length < 5 || str.search(/[^\w\s]/) != -1 )
	{
		//$("#workout_name").tooltip().mouseover();
		show_error("That isnt a valid name!");
		return false;
	}

	return true;

}

</script>

<div id="container">
	<div id="form_box">
		<div id="form">
		<%= form_tag({:action => 'create'}, :id  => 'workout_name_form',:onsubmit => "return verify_form();") do %>
			<%= label_tag "Name" %>
			<%= text_field_tag('workout[name]', value = "", options = {:id => "workout_name", :onkeyup => "text_field_change()", :title => "The workout name, between 5 and 20 charactors and cant contain special charactors"}) %>

			</ br>

			<%= submit_tag("Create") %>

		<% end %>
		</div>
	</div>
</div>
