<%= javascript_include_tag "graphing.js" %>

<%= stylesheet_link_tag "workouts_track.css" %>


<script>

var largest_group = <%= @workout.largest_group %>
var groups = <%= @groups.to_json %>

var data = {}
var graph_names = {}
var days = [<%= @days[0].to_json %>]
days.push("<%= @days[1] %>");

<% @data.keys.each do |key| %>
graph_names["<%= key %>"] = "<%= @graph_names[key] %>"
data["<%= key %>"] = [<%= @data[key][0].to_json %>];
data["<%= key %>"].push("<%= @data[key][1] %>");
<% end %>

$(function () {
		$(document).tooltip();
		});

$(document).ready( function() {


		// Updates the page background based on what is in the name text field
		var value = $("#workout_title").val();
		var string_num = 0;

		for( var i = 0; i < value.length; i++ )
		{
			string_num += value.charCodeAt(i);
		}

		// Animate the background color
		var rgb = HSBtoRGB(string_num % 100, 0.66, 0.88);
		$("body").animate({backgroundColor: "rgb(" + parseInt(rgb[0]) + ", " + parseInt(rgb[1]) + ", " + parseInt(rgb[2]) + ")"});			

		rgb = HSBtoRGB(string_num % 100, 0.66, 0.68);
		$("#workout_letter").animate({backgroundColor: "rgb(" + parseInt(rgb[0]) + ", " + parseInt(rgb[1]) + ", " + parseInt(rgb[2]) + ")"});			



		// Make sure that the color range is split up over the correct range
		var max_range = largest_group
		if( max_range < 10 ) max_range = 10;
		

		var i = 1 ;

		$("#excersises").children().each( function() {
					
				var highlightRGB  = HSBtoRGB((100.0/max_range) * i, 0.66, 0.68);
				var highlightRGBString = "rgb(" + parseInt(highlightRGB[0]) + ", " + parseInt(highlightRGB[1]) + ", " + parseInt(highlightRGB[2]) + ")";

				var mainRGB = HSBtoRGB((100.0/max_range) * i, 0.66, 0.80);
				var mainRGBString = "rgb(" + parseInt(mainRGB[0]) + ", " + parseInt(mainRGB[1]) + ", " + parseInt(mainRGB[2]) + ")";
				var j = 0;
				$(this).children().each( function () {
					
					var split_id = $(this).attr('id').split("_");
					var id = split_id[split_id.length - 1];

					// If this is the first one, i.e. the row title
					if( j == 0 )
					{
					i	//$("#row_title_" + id).animate({backgroundColor: mainRGBString});
						$("#row_title_header_" + id).animate({backgroundColor: highlightRGBString});
					}
					else
					{
						$("#excersise_" + id).animate({backgroundColor: mainRGBString});
						$("#excersise_color_" + id).animate({backgroundColor: highlightRGBString});
					}
					
					j += 1;

					});
					
					i += 1;
				});

		// Color the key elements
		//var i = 1;

		//$("#excersises").children("div").each( function() {
		//		var rgb = HSBtoRGB((100.0/max_range) * groups[i-1], 0.66, 0.68);
		//		$("#excersise_color_" + i).animate({backgroundColor: "rgb(" + parseInt(rgb[0]) + ", " + parseInt(rgb[1]) + ", " + parseInt(rgb[2]) + ")"});				

		//		rgb = HSBtoRGB((100.0/max_range) * groups[i-1], 0.66, 0.80);
		//		$("#excersise_" + i).animate({backgroundColor: "rgb(" + parseInt(rgb[0]) + ", " + parseInt(rgb[1]) + ", " + parseInt(rgb[2]) + ")"});	
		//		i += 1;

		//		});

		// Draw all the graphs
		var keys = Object.keys(graph_names);

		for( var i = 0; i < keys.length; i += 1 )
		{
			var canvas = document.getElementById("canvas_" + graph_names[keys[i]]);
			graph(days[0], data[keys[i]][0], [data[keys[i]][1], days[1]], canvas.getContext("2d"), "#000000", 20);
		}


		});


function HSBtoRGB(h, s, l)
{
	var C = (1 - Math.abs(2 * l - 1)) * s;
	var Hp = h/60.0;
	var x = C * ( 1 - Math.abs(Hp%2 - 1));

	var r;
	var g;
	var b;

	if( Hp >= 0 && Hp < 1 )
	{
		r = C;
		g = x;
		b = 0;
	}
	else if( Hp >= 1 && Hp < 2 )
	{
		r = x;
		g = C;
		b = 0;
	}
	else if( Hp >= 2 && Hp < 3 )
	{
		r = 0;
		g = C;
		b = x;
	}
	else if( Hp >= 3 && Hp < 4 )
	{
		r = 0;
		g = x;
		b = C;
	}
	else if( Hp >= 4 && Hp < 5 )
	{
		r = x;
		g = 0;
		b = C;
	}	
	else if( Hp >= 5 && Hp < 6 )
	{
		r = C;
		g = 0;
		b = x;
	}

	m = l - (1/2.0) * C;

	return [255 * (r+m), 255 * (g+m), 255 * (b+m)];
}

</script>


<div id="container">
	<div id="workout_letter">
		<%= @workout.name[0] %>
	</div>

	<div id="workout_title">
		<%= @workout.name %>
	</div>

	<div id="workout_stats">
		<div id="stats">
			<% @workout.stastics.each do |stat| %>
				<div class="workout_stat">
					<%= "#{stat[0]}: #{stat[1]} #{stat[2]}" %>
				</div>
			<% end %>	
		</div>

		<div id="workout_graphs">
			<% @graph_names.keys.each do |key| %>
				<div id="<%= @graph_names[key] %>" class="graph_container">
					<div id="graph_title_<%= @graph_names[key] %>" class="graph_title">
						<%= key %>
					</div>

					<canvas id="canvas_<%= @graph_names[key] %>" width="600px" height="400px" class="canvas">
						Your browser dosnt support HTML5 canvas
					</canvas>
				</div>
			<% end %>
		</div>
	</div>
	
	<div class="title">
		Excersises
	</div>

	<div id="excersise_stats">
		<div id="excersises">
			<% @excersise_groups.keys.each do |key| %>
				
				<div id="excersise_group_row_<%= key %>" class="excersise_group_row">

					<div id="row_title_<%= key %>" class="row_title">
						<div id="row_title_header_<%= key %>" class="row_title_header">
							<%= key %>
						</div>
					</div>
					
					<% @excersise_groups[key].each do |excersise| %>
					<div id="excersise_<%= excersise.id %>" class="excersise">
						<a href="/excersises/track?id=<%= excersise.id %>" class="link">
							<div id="excersise_color_<%= excersise.id %>" class="excersise_color" title="Click to view more deatailed stastics">
								<%= excersise.name[0] %>
							</div>
						</a>

						<div id="excersise_name_<%= excersise.id %>" class="excersise_name">
							<%= excersise.name %>
						</div>

						<div id="excersise_stats_<%= excersise.id %>" class="excersise_stats">
							<% excersise.stastics.each do |stat| %>
								<div class="stat">
									<%= "#{stat[0]}: #{stat[1]} #{stat[2]}"  %>
								</div>
							<% end %>
						</div>
					</div>
					<% end %>

				</div>
	
			<% end %>
		</div>
	</div>
</div>
