<%= stylesheet_link_tag "workouts_track.css" %>

<script>

var excersise_names = [];
var records = [];

<% @records.keys.each do |key| %>
	excersise_names.push("<%= key %>");
	records.push(<%= @records[key].to_json %>);
<% end %>

var range = <%= @range %>
var max_diffculty = <%= @max_range %>

$(document).ready( function() {
		
		var canvas = document.getElementById("canvas");

		var c2d = canvas.getContext("2d");
		c2d.fillStyle = "#FFFFFF";
		c2d.fillRect(0, 0, c2d.canvas.width, c2d.canvas.height);

		draw_axys(c2d);	

		draw_data(c2d);
		});


function draw_axys(c2d)
{
	// Draw the x axys
	c2d.beginPath();
	c2d.lineWidth = 2
	c2d.moveTo(0, c2d.canvas.height - 20);
	c2d.lineTo(c2d.canvas.width, c2d.canvas.height - 20);
	c2d.stroke();	

	// Draw the y axys
	c2d.beginPath();
	c2d.lineWidth = 2;
	c2d.moveTo(10, 0);
	c2d.lineTo(10, c2d.canvas.height);
	c2d.stroke();
}

function draw_data(c2d)
{
	var day = 1;

	var positions = []
	for( var i = 0; i < records.length; i += 1 )
	{
		positions.push([10, c2d.canvas.height - 20]);
	}

	for( position = 10; position <= c2d.canvas.width; position += ((c2d.canvas.width - 10)/range) )
	{
		// Draw small point
		c2d.beginPath();
		c2d.lineWidth = 2;
		c2d.moveTo(position, c2d.canvas.height - 20);
		c2d.lineTo(position, c2d.canvas.height - 21);
		c2d.stroke();

		for( var i = 0; i < records.length; i += 1 )
		{
			for( var j = 0; j < records[i].length; j += 1 )
			{
				if( records[i][j][0] == day )
				{
					var y = ((c2d.canvas.height - 20) / range) * records[i][j][1];

					c2d.beginPath();
					c2d.lineWidth = 2;
					c2d.moveTo(positions[i][0], positions[i][1]);
					c2d.lineTo(position, y);
					c2d.stroke();

					positions[i] = [position, y];
				}	
			}
		}

		day += 1;
	}
}

</script>

<div id="container">
	<div id="key">
		KEY
	</div>

	<div id="graph">
		<canvas id="canvas">
			Your browser doesnt support the HTML5 canvas
		</canvas>
	</div>
</div>
