<%= stylesheet_link_tag "user_edit.css" %>

<div id="container">
	<div id="update_form">
		<div id="form_header">
			Update Details
		</div>

		<div  id="form">	
			<%= form_tag(:action => "update") do %>
				<%= email_field_tag :email %>
				<%= password_field_tag :password %>
				<%= submit_tag "Update Details" %>
			<% end %>
		</div>
	</div>
</div>
