<%= stylesheet_link_tag "user_edit.css" %>
<%= stylesheet_link_tag "forms.css" %>

<div id="container">
	<div id="update_form">
		<div  id="form">	
			<%= form_tag(:action => "update") do %>

				<%= label_tag "Email" %>
				<%= email_field_tag :email, "#{@user.email}" %>

				<%= label_tag "Password" %>
				<%= password_field_tag :password %>

				<%= submit_tag "Update Details" %>
			<% end %>
		</div>
	</div>
</div>
