<%= stylesheet_link_tag "access_login.css" %>

<div id="container">
	<div id="login_form">
		<div id="form_header">
			Sign In
		</div>
		
		<div id="form">
			<%= form_tag(:action => "attempt_login") do %>
	
				<%= text_field_tag(:email) %>
				<%= password_field_tag(:password) %>
				<%= submit_tag("Log In") %>

			<% end %>
		</div>
	</div>
</div> 
