<%= stylesheet_link_tag "access_login.css" %>

<div id="container">
	<div id="login_form">
		<div id="form_header">
			Sign In
		</div>
		
		<div id="form">
			<%= form_tag(:action => "attempt_login") do %>
				
				<%= label_tag "Email" %>
				<%= text_field_tag(:email) %>

				<%= label_tag "Password" %>
				<%= password_field_tag(:password) %>

				<%= submit_tag("Log In") %>

			<% end %>
		</div>

		<div id="signup_redirect">
			Dont have an account? <a href="/signup">Signup Here</a>
		</div>
	</div>
</div> 
