<%= javascript_include_tag "jquery-2.1.1.min.js" %>
<%= javascript_include_tag "jquery-ui.min.js" %>
<%= stylesheet_link_tag "home_index.css" %>

<script>

$(document).ready( function () {
		
		var children = $("#workouts").children("div");
		var max_range = children.length;
		if( max_range < 10 ) max_range = 10;

		var i = 1;

		children.each( function() {
				
				var rgb = HSBtoRGB(i * (100.0 / max_range), 0.68, 0.72);
				$(this).animate({backgroundColor: "rgb(" + parseInt(rgb[0]) + ", " + parseInt(rgb[1]) + ", " + parseInt(rgb[2]) + ")"});

				i += 1;

				});

		});


function HSBtoRGB(h, s, l)
{
	var C = (1 - Math.abs(2 * l - 1)) * s;
	var Hp = h/60.0;
	var x = C * ( 1 - Math.abs(Hp%2 - 1));

	var r;
	var g;
	var b;

	if( Hp >= 0 && Hp < 1 )
	{
		r = C;
		g = x;
		b = 0;
	}
	else if( Hp >= 1 && Hp < 2 )
	{
		r = x;
		g = C;
		b = 0;
	}
	else if( Hp >= 2 && Hp < 3 )
	{
		r = 0;
		g = C;
		b = x;
	}
	else if( Hp >= 3 && Hp < 4 )
	{
		r = 0;
		g = x;
		b = C;
	}
	else if( Hp >= 4 && Hp < 5 )
	{
		r = x;
		g = 0;
		b = C;
	}	
	else if( Hp >= 5 && Hp < 6 )
	{
		r = C;
		g = 0;
		b = x;
	}

	m = l - (1/2.0) * C;

	return [255 * (r+m), 255 * (g+m), 255 * (b+m)];
}

</script>


<div id="container">

<div id="header">
	<span></span>Workouts
</div>

<div id="workouts">
	<% @workouts.each do |workout| %>
	
		<div id="workout_<%= workout.id %>" class="workout">
			<div id="workout_name_<%= workout.id %>" class="workout_name">
				<span></span><%= workout.name %>
			</div>

			<div id="buttons">
				<a class="button workout_button" href="/workouts/edit/<%= workout.id %>">
					<span></span>EDIT!
				</a>

				<a class="button workout_button" href="/workouts/do?id=<%= workout.id %>">
					<span></span>DO!
				</a>
			</div>
		</div>



	<% end %>
</div>

<a id="button_new_workout" class="button" href="/workouts/new">
	<span><span>Create Workout
</div>

</div>
