<%= javascript_include_tag "jquery-2.1.1.min.js" %>
<%= javascript_include_tag "jquery-ui.min.js" %>
<%= stylesheet_link_tag "home_index.css" %>

<script>

$(function () {
		$(document).tooltip();
		});

$(document).ready( function () {
		
		var children = $("#workouts").children("div");
		var max_range = children.length;
		if( max_range < 10 ) max_range = 10;

		var i = 1;

		children.each( function() {
				
				$(this).children("div").each( function() {	
					var rgb = HSBtoRGB(i * (100.0 / max_range), 0.68, 0.72);
					$(this).animate({backgroundColor: "rgb(" + parseInt(rgb[0]) + ", " + parseInt(rgb[1]) + ", " + parseInt(rgb[2]) + ")"});

					i += 1;
					});

				});

		});

$(window).on("load resize", function() {

		// Based on the current size of the div determin the number of columns
		// there should be
		var size = $("#workouts").width();
		var num_of_columns = parseInt(size / 300);
		if( num_of_columns < 1 ) num_of_columns = 1;

		// If we allready have the right ammount of columns then just quit
		// out of function
		if( $("#workouts").children().length == num_of_columns ) return;

		// Get all the workouts into an array
		var workouts = [];

		$("#workouts").children("div").each( function() {
				$(this).children("div").each( function() {
						workouts.push(this);
						});
				});

		// Update the left padding for the workouts div so everythign is centered
		var left_padding = size - ( num_of_columns * 300 ) - ( num_of_columns * 20 );
		$("#workouts").css("padding-left", (left_padding + "px"));

		// Clear the workouts from the screen, add the number of columns there should be
		// and then add all the workouts back into the DOM
		document.getElementById("workouts").innerHTML = "";

		for( var i = 0; i < num_of_columns; i += 1 )
		{
			var column = document.createElement("div");
			column.id = ("column_" + i);
			column.className = "column";

			document.getElementById("workouts").appendChild(column);	
		}

		while( workouts.length != 0 )
		{
			for( var i = 0; i < num_of_columns; i += 1 )
			{
				if( workouts.length != 0 )
				{
					document.getElementById("column_" + i).appendChild(workouts.shift());		
				}
			}
		}

		});

function HSBtoRGB(h, s, l)
{
	var C = (1 - Math.abs(2 * l - 1)) * s;
	var Hp = h/60.0;
	var x = C * ( 1 - Math.abs(Hp%2 - 1));

	var r;
	var g;
	var b;

	if( Hp >= 0 && Hp < 1 )
	{
		r = C;
		g = x;
		b = 0;
	}
	else if( Hp >= 1 && Hp < 2 )
	{
		r = x;
		g = C;
		b = 0;
	}
	else if( Hp >= 2 && Hp < 3 )
	{
		r = 0;
		g = C;
		b = x;
	}
	else if( Hp >= 3 && Hp < 4 )
	{
		r = 0;
		g = x;
		b = C;
	}
	else if( Hp >= 4 && Hp < 5 )
	{
		r = x;
		g = 0;
		b = C;
	}	
	else if( Hp >= 5 && Hp < 6 )
	{
		r = C;
		g = 0;
		b = x;
	}

	m = l - (1/2.0) * C;

	return [255 * (r+m), 255 * (g+m), 255 * (b+m)];
}

</script>


<div id="container">

	<a id="create_workout_button" href="/workouts/new" title="Create New Workout">
		<%= image_tag "plus.gif" %>
	</a>

	<div id="workouts">

		<div class="column">
			<% @workouts.each do |workout| %>
	
				<div id="workout_<%= workout.id %>" class="workout">
					<div id="workout_name_<%= workout.id %>" class="workout_name">
						<%= workout.name %>
					</div>

					<div id="workout_excersises_<%= workout.id %>" class="workout_excersises">
						<ul style="list-style-type:none">
							<% workout.excersises.each do |excersise| %>
								<li><%= excersise.name %></li>
							<% end %>
						</ul>	
					</div>

					<div class="buttons">
						<a class="button workout_button" href="/workouts/edit/<%= workout.id %>" title="Edit This Workout">
							<span></span>EDIT!
						</a>

						<a class="button workout_button" href="/workouts/do?id=<%= workout.id %>" title="Do This Workout">
							<span></span>DO!
						</a>

						<a class="button workout_button" href="/workouts/track?id=<%= workout.id %>" title="Track This Workout">
							<span></span>T
						</a>

						<a class="button delete_button" href="/workouts/delete?id=<%= workout.id %>" title="Delete This Workout">
							<span></span>X
						</a>
					</div>
				</div>
		<% end %>
	</div>
</div>

<a id="button_new_workout" class="button" href="/workouts/new">
</div>

</div>
