<%= stylesheet_link_tag "home_signup.css" %>

<div id="container">
	<div id="signup_form">
		<div id="form_header">
			Signup
		</div>

		<div id="form">
			<%= form_tag(:controller => "users", :action => "create") do %>
		
				<%= text_field_tag(:first_name) %>
				<%= text_field_tag(:last_name) %>
				<%= email_field_tag(:email) %>
				<%= password_field_tag(:password) %>
				<%= submit_tag("Sign Up") %>

			<% end %>
		</div>
	</div>
</div>
