<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "header.css" %>
<%= stylesheet_link_tag "flash_notice.css" %>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">


<%= javascript_include_tag "jquery-2.1.1.min.js" %>
<%= javascript_include_tag "jquery-ui.min.js" %>

<script>
var message = "<%= flash[:notice] %>";


$(document).ready( function() {
		
		// If there is no message then there is nothing to do
		// so quit out of function
		if( message == "" ) return;
		show_message(message);

		});

function show_message(message)
{
	if( document.getElementById("notice") != null )
	{
		$("#notice").remove();
	}

	var notice = document.createElement("div");
	notice.id = "notice";
	notice.innerText = message;	

	document.body.appendChild(notice);

	$("#notice").css( 'visibility', "visible").animate({opacity: 0.9}, 500).delay(4000).css( 'visibility', "visible").animate({opacity: 0.0}, 500);
}

function show_error(message)
{
	if( document.getElementById("error_notice") != null )
	{
		// If it is currentley visible then cancle this action
		if( $("#error_notice").css('visibility') == "visible" && $("#error_notice").css("opacity") > 0 ) return false;
		$("#error_notice").remove();
	}

	var error_notice = document.createElement("div");
	error_notice.id = "error_notice";
	error_notice.innerText = message;	

	document.body.appendChild(error_notice);

	$("#error_notice").css( 'visibility', "visible").animate({opacity: 0.9}, 500).delay(4000).css( 'visibility', "visible").animate({opacity: 0.0}, 500);
}

</script>

<title>Workout Manager</title>
</head>
<body>

<div id="header">
		<div id="title"><span></span>LOGO</div>
		
		<% if session[:user_id] != nil %>
			<div id="user">
				<div id="username">
					<span></span><%= session[:name] %>
				</div>
				<div id="buttons">
					<a id="logout_button" class="user_button" href="/access/logout">
						<span></span>L
					</a>
					<a id="update_button" class="user_button" href="/users/edit">
						<span></span>U
					</a>
				</div>
			</div>
		<% end %>	
	</div>

<%= yield %>

</body>
</html>
